<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1bcd68af-e392-4b66-9558-697bd7e8dc91/resourceGroups/mspoc-rg/providers/Microsoft.Web/sites/msprofiletobus</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://msprofiletobus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>129fb8ce-c11a-4318-a18d-2a7a61c192e2</ProjectGuid>
    <PublishUrl>https://msprofiletobus.scm.azurewebsites.net/</PublishUrl>
    <UserName>$msprofiletobus</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>